.header {
    display: flex;
    justify-content: space-evenly;
}

.agregar {
    padding: 0px;
    margin-top: 20px;
}

th {
    text-align: center;
}

td {
    text-align: center;
}




#image {
    max-width: 80%;
    max-height: 80%;
}

